* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
}

body{
    width: 100%;
    background-color: rgb(219, 219, 219);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img {
    height: 50rem;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 40px 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.instagram_logo {
    height: 3rem;
    margin-bottom: 20px;
}

.perfil{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem_perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.imagem_perfil img{
    height: 8rem;
}

.login {
    text-align: center;
    background-color: #0095f6;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.logout {
    color: #0095f6;
    margin-top: 16px;
}

.conteudo_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-account {
    color: #8a8888;
}

.contas {
    color: #8a8888;
}

.contas a {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app {
    color: #242424;
    font-size: 16px;
    font-weight: 600;
}

.download{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app_download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app_download:nth-child(1){
    background-image: url('./img/apple-button.png');
    margin-right: 20px;
}

.app_download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .phone img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .container {
        width: 90%;
    }

    .phone {
        display: none;
    }

    .conteudo {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}